@charset "UTF-8";

body {
    font-size: 13px;
    font-family: arial, sans-serif;
    padding-top: 20px;
}
a {
    text-decoration: none;
    color: #000000;
}
ul {
    list-style-type: none;
}
a:hover {
    text-decoration: underline;
}
header {
    margin-bottom: 150px;
}
nav {
    margin: 0 30px;
 }
.main-nav {
    display: flex;
    align-items: center;
}
.main-nav li{
    margin-right: 15px;
}
.main-nav li:nth-child(3){
    margin-left: auto;
}
.mycolor {
    color: #e63d0a;
    font-size: 28px;
}
.mytext {
    font-size: 19px;
}
.logo-container {
    text-align: center;
}
.logo-container img {
    margin-bottom: 26px;
}
.fa-search { 
    position: absolute;
    top: 15px;
    left: 20px;
    color: #9AA0A6;
    font-size: 120%;
}
.form-container {
    width: 585px;
    margin: 0 auto;
    position: relative;
}
input[type="text"] {
    padding-left: 50px;
    border: 2px #EEEEEE solid;
    height: 44px;
    width: 585px;
    border-radius: 22px;
    font-size: 16px;
    margin-bottom: 35px;
}
input[type="text"]:focus,
input[type="text"]:hover {
    box-shadow: 0 2px 5px 0 rgba(60, 63, 67, 0.18);
}
:focus {
    outline: none;
}
input[type="submit"] {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-size: 14px;
    margin: 0 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
}
input[type="submit"]:hover {
    border: 1px solid #cbcbcb;
    color: #333639;
}
footer {
    padding-left: 30px;
    background: #f2f2f2;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    position: absolute;
    bottom: 0;
    min-width: 100vw;
}
.foot-list {
    display: flex;
}
.foot-list li {
    padding-right: 27px;
}
.foot-list a {
    color: #5f6368;
}
.foot-list li:nth-child(4) {
    margin-left: auto;
}
